Repository ianfhunter/GNOLL, changes with the labels that .github/labeler.yml gives for each.
All labels: core, python, go, perl, javascript, macros, haskell, java, R

.github/labeler.yml:

core:
- src/grammar/*

python:
- src/python/*

go:
- src/go/*

perl:
- src/perl/*

javascript:
- src/js/*

macros:
- builtins/*

haskell:
- src/haskell/*

java:
- src/java/*

R:
- src/R/*

Update test_reported_bugs.py
  tests/python/test_reported_bugs.py
Labels: none

Update Makefile
  Makefile
Labels: none

Update test_core.yml
  .github/workflows/test_core.yml
Labels: none

Update Makefile
  Makefile
Labels: none

Update test_core.yml
  .github/workflows/test_core.yml
Labels: none

Delete tests/python/test_package.py
  tests/python/test_package.py
Labels: none

Update util.py
  tests/python/util.py
Labels: none

Improved testing infrastructure (#455)
  Makefile
  src/python/code/gnoll/__main__.py
  src/python/target.mk
  tests/python/test_cli.py
  tests/python/test_package.py
  tests/python/test_reported_bugs.py
  tests/python/util.py
Labels: python

fix: scripts/benchmark/requirements.txt to reduce vulnerabilities
  scripts/benchmark/requirements.txt
Labels: none

fix: scripts/histogram/requirements.txt to reduce vulnerabilities
  scripts/histogram/requirements.txt
Labels: none

fix: scripts/benchmark/requirements.txt to reduce vulnerabilities (#458)
  scripts/benchmark/requirements.txt
Labels: none

fix: scripts/histogram/requirements.txt to reduce vulnerabilities (#459)
  scripts/histogram/requirements.txt
Labels: none

fix: scripts/benchmark/requirements.txt to reduce vulnerabilities
  scripts/benchmark/requirements.txt
Labels: none

fix: scripts/benchmark/requirements.txt to reduce vulnerabilities (#460)
  scripts/benchmark/requirements.txt
Labels: none

Update test_bw.py
  tests/python/systems/BurningWheel/test_bw.py
Labels: none

Update test_bw.py
  tests/python/systems/BurningWheel/test_bw.py
Labels: none

Update test_bw.py
  tests/python/systems/BurningWheel/test_bw.py
Labels: none

Update test_bw.py
  tests/python/systems/BurningWheel/test_bw.py
Labels: none

Update test_bw.py
  tests/python/systems/BurningWheel/test_bw.py
Labels: none

Update test_bw.py
  tests/python/systems/BurningWheel/test_bw.py
Labels: none

Update test_bw.py
  tests/python/systems/BurningWheel/test_bw.py
Labels: none

Update test_bw.py
  tests/python/systems/BurningWheel/test_bw.py
Labels: none

Update test_bw.py
  tests/python/systems/BurningWheel/test_bw.py
Labels: none

Update test_bw.py
  tests/python/systems/BurningWheel/test_bw.py
Labels: none

Update test_bw.py (#462)
  tests/python/systems/BurningWheel/test_bw.py
Labels: none

Update target.mk
  src/js/target.mk
Labels: javascript

Update test_OS.yml
  .github/workflows/test_OS.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_OS.yml
  .github/workflows/test_OS.yml
Labels: none

Update target.mk
  src/js/target.mk
Labels: javascript

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update target.mk
  src/js/target.mk
Labels: javascript

Update target.mk
  src/js/target.mk
Labels: javascript

Update target.mk
  src/js/target.mk
Labels: javascript

Update target.mk
  src/js/target.mk
Labels: javascript

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none
