Repository ianfhunter/GNOLL, changes with the labels that .github/labeler.yml gives for each.
All labels: core, python, go, perl, javascript, macros, haskell, java, R

.github/labeler.yml:

core:
- src/grammar/*

python:
- src/python/*

go:
- src/go/*

perl:
- src/perl/*

javascript:
- src/js/*

macros:
- builtins/*

haskell:
- src/haskell/*

java:
- src/java/*

R:
- src/R/*

Update target.mk
  src/PHP/target.mk
Labels: none

Update target.mk
  src/PHP/target.mk
Labels: none

Update test_binding_php.yml
  .github/workflows/test_binding_php.yml
Labels: none

Update target.mk
  src/PHP/target.mk
Labels: none

Update target.mk
  src/PHP/target.mk
Labels: none

Update target.mk
  src/PHP/target.mk
Labels: none

Update installation.md
  doc/gh-pages/developers/installation.md
Labels: none

Update Makefile
  Makefile
Labels: none

remove lots of memory leaks + some smaller bugs
  Makefile
  src/grammar/dice.yacc
  src/grammar/operations/macro_logic.c
  src/grammar/rolls/vec.h
  src/grammar/util/safe_functions.c
  src/grammar/util/safe_functions.h
  src/grammar/util/string_functions.c
  src/grammar/util/string_functions.h
  src/grammar/util/vector_functions.c
Labels: core

Rearrange and cleanup
  Makefile
  src/grammar/constructs/dice_enums.h
  src/grammar/constructs/roll_parameters.h
  src/grammar/constructs/vec.h
  src/grammar/dice.lex
  src/grammar/dice.yacc
  src/grammar/operations/condition_checking.c
  src/grammar/operations/condition_checking.h
  src/grammar/operations/conditionals.c
  src/grammar/operations/conditionals.h
  src/grammar/operations/macro_logic.c
  src/grammar/operations/macro_logic.h
  src/grammar/operations/macros.c
  src/grammar/operations/macros.h
  src/grammar/rolls/dice_core.c
  src/grammar/rolls/dice_core.h
  src/grammar/rolls/dice_enums.h
  src/grammar/rolls/dice_frontend.c
  src/grammar/rolls/dice_frontend.h
  src/grammar/rolls/dice_roll_structs.h
  src/grammar/rolls/mocking.c
  src/grammar/rolls/mocking.h
  src/grammar/rolls/sided_dice.c
  src/grammar/rolls/sided_dice.h
  src/grammar/rolls/vec.h
  src/grammar/shared_header.h
  src/grammar/util/array_functions.c
  src/grammar/util/array_functions.h
  src/grammar/util/mocking.c
  src/grammar/util/mocking.h
  src/grammar/util/safe_functions.c
  src/grammar/util/vector_functions.c
  src/grammar/util/vector_functions.h
  src/grammar/yacc_header.h
Labels: core

Update array_functions.c
  src/grammar/util/array_functions.c
Labels: none

Update array_functions.h
  src/grammar/util/array_functions.h
Labels: none

Update string_functions.h
  src/grammar/util/string_functions.h
Labels: none

Update string_functions.c
  src/grammar/util/string_functions.c
Labels: none

Update string_functions.h
  src/grammar/util/string_functions.h
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update supported_rpgs.md
  doc/gh-pages/etc/supported_rpgs.md
Labels: none

Update main.go
  src/go/main.go
Labels: go

Update main.go
  src/go/main.go
Labels: go

Update supported_rpgs.md
  doc/gh-pages/etc/supported_rpgs.md
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update and rename manual_valgrind.yml to manual_leakcheck.yml
  .github/workflows/manual_leakcheck.yml
Labels: none

Update Makefile
  Makefile
Labels: none

fix a leak
  src/grammar/dice.yacc
Labels: core

has_source defaulted to 0 (undefined), which is true. mistakenly freeing
  Makefile
  src/grammar/dice.lex
  src/grammar/dice.yacc
  src/grammar/operations/macros.c
  src/grammar/rolls/dice_frontend.c
  src/grammar/util/safe_functions.c
Labels: core

fix clang
  src/grammar/util/safe_functions.c
Labels: none

emcc errs
  Makefile
  src/grammar/dice.yacc
  src/grammar/util/string_functions.c
Labels: core

dunno why the test was passing before!
  src/grammar/dice.yacc
Labels: core

free for math
  src/grammar/dice.yacc
Labels: core

unfree type
  src/grammar/operations/macros.c
Labels: none

add a step to cleanup final symbols in bison/yacc
  src/grammar/dice.yacc
  src/grammar/util/vector_functions.c
  src/python/code/gnoll/parser.py
  tests/python/test_macros.py
Labels: core

fix minor leak
  src/grammar/dice.yacc
  src/grammar/rolls/dice_frontend.c
  src/grammar/util/vector_functions.c
Labels: core

safe_strdup to have consistent length
  src/grammar/dice.yacc
  src/grammar/util/safe_functions.c
Labels: core

remove more memory leaks
  src/grammar/dice.yacc
  src/grammar/operations/macros.c
  src/grammar/operations/macros.h
  tests/python/test_macros.py
Labels: core

fix another leak
  src/grammar/rolls/dice_frontend.c
Labels: none

saf
  src/grammar/operations/macros.c
Labels: none
