Repository ianfhunter/GNOLL, changes with the labels that .github/labeler.yml gives for each.
All labels: core, python, go, perl, javascript, macros, haskell, java, R

boop
  src/grammar/dice.lex
  src/grammar/dice.yacc
  src/grammar/rolls/dice_frontend.c
  src/grammar/util/safe_functions.c
  src/grammar/util/vector_functions.c
Labels: core

fix delete_all leak
  src/grammar/operations/macros.c
  src/grammar/rolls/dice_frontend.c
Labels: none

fix a big mem leak
  src/grammar/dice.yacc
  src/grammar/operations/macros.c
  src/grammar/util/safe_functions.c
Labels: core

fix another
  src/grammar/dice.yacc
  src/grammar/util/vector_functions.c
Labels: core

fix most??
  src/grammar/dice.yacc
Labels: core

!
  src/grammar/dice.yacc
  src/grammar/util/safe_functions.c
  src/grammar/util/vector_functions.c
Labels: core

remove print
  src/grammar/dice.yacc
Labels: core

more
  src/grammar/dice.yacc
Labels: core

a
  src/grammar/operations/macros.c
  src/python/code/gnoll/parser.py
Labels: none

fix for df.2
  src/grammar/dice.lex
  src/grammar/dice.yacc
  src/grammar/util/safe_functions.c
Labels: core

more more more!
  src/grammar/dice.yacc
  src/grammar/rolls/dice_core.c
  src/grammar/rolls/dice_frontend.c
Labels: core

even more leaks
  src/grammar/dice.yacc
  src/python/code/gnoll/parser.py
Labels: core

It never ends
  src/grammar/dice.yacc
Labels: core

Update requirements.txt
  reqs/requirements.txt
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

fix doublefree
  src/grammar/dice.yacc
  src/grammar/util/vector_functions.c
Labels: core

fix re-registration
  src/grammar/dice.yacc
  src/grammar/operations/macros.c
  tests/python/test_macros.py
Labels: core

builtins
  src/grammar/dice.yacc
  src/python/code/gnoll/parser.py
Labels: core

fix delete of macros
  src/grammar/dice.yacc
  src/grammar/operations/macros.c
  tests/python/test_macros.py
Labels: core

fix delete of macros
  src/grammar/operations/macros.c
Labels: none

Update setup.cfg
  src/python/setup.cfg
Labels: python

Update Project.toml
  src/julia/GNOLL/Project.toml
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  src/python/README.md
Labels: python

Update README.md
  src/julia/GNOLL/README.md
Labels: none

Add files via upload
  doc/JOSS/py.PNG
Labels: none

Update C++ benchmark after fixing memory leaks
  doc/JOSS/C++.PNG
Labels: none

First implementation of CLT
  Makefile
  scripts/benchmark/benchmark_core.py
  scripts/benchmark/benchmark_gnoll_versions.py
  scripts/histogram/histogram.py
  src/grammar/dice.yacc
  src/grammar/rolls/dice_core.c
  src/grammar/rolls/dice_core.h
  src/grammar/rolls/dice_frontend.c
  src/grammar/rolls/randomness.c
  src/grammar/rolls/randomness.h
  src/python/code/gnoll/parser.py
Labels: core

update documentation
  doc/gh-pages/developers/CLT_data/CRT_Distribution.png
  doc/gh-pages/developers/CLT_data/Performance_Delta.png
  doc/gh-pages/developers/CLT_data/Regular_Distribution.png
  doc/gh-pages/developers/experimental.md
Labels: none

Update target.mk
  src/haskell/target.mk
Labels: haskell

Update target.mk
  src/go/target.mk
Labels: go

Update target.mk
  src/go/target.mk
Labels: go

Update target.mk
  src/haskell/target.mk
Labels: haskell

Update parser.py
  src/python/code/gnoll/parser.py
Labels: none

Update .deepsource.toml
  .deepsource.toml
Labels: none

Update Makefile
  Makefile
Labels: none

Update histogram.py
  scripts/histogram/histogram.py
Labels: none

Update benchmark_core.py
  scripts/benchmark/benchmark_core.py
Labels: none

.github/labeler.yml:

core:
- src/grammar/*

python:
- src/python/*

go:
- src/go/*

perl:
- src/perl/*

javascript:
- src/js/*

macros:
- builtins/*

haskell:
- src/haskell/*

java:
- src/java/*

R:
- src/R/*
