Repository ianfhunter/GNOLL, changes with the labels that .github/labeler.yml gives for each.
All labels: core, python, go, perl, javascript, macros, haskell, java, R

.github/labeler.yml:

core:
- src/grammar/*

python:
- src/python/*

go:
- src/go/*

perl:
- src/perl/*

javascript:
- src/js/*

macros:
- builtins/*

haskell:
- src/haskell/*

java:
- src/java/*

R:
- src/R/*

Tinkering with bundling.
  index.html
  src/js/gnoll.js
  src/js/package.json
  src/js/target.mk
  src/js/webpack.config.js
  src/js/wrapper.js
  yarn.lock
Labels: javascript

Got bundled version to run.
  src/js/gnoll.js
  src/js/target.mk
  src/js/webpack.config.js
Labels: javascript

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update vector_functions.c
  src/grammar/util/vector_functions.c
Labels: none

Adding index file.
  src/js/gnoll.js
  src/js/index.html
Labels: javascript

Add favicon for future browser integration
  media/favicon.ico
  media/gnoll_square.png
Labels: none

fix 465
  src/grammar/dice.yacc
  src/grammar/util/vector_functions.c
  src/grammar/util/vector_functions.h
Labels: core

add test so it doesnt break again
  tests/python/test_dropkeeping.py
Labels: none

after fixing one, i broke the other. now both are fixed
  src/grammar/dice.yacc
  src/grammar/util/vector_functions.c
  src/grammar/util/vector_functions.h
Labels: core

fix missing import
  tests/python/test_dropkeeping.py
Labels: none

Update test_dropkeeping.py
  tests/python/test_dropkeeping.py
Labels: none

broadcast changes
  src/grammar/dice.yacc
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update Makefile
  Makefile
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update vector_functions.c
  src/grammar/util/vector_functions.c
Labels: none

Update vector_functions.h
  src/grammar/util/vector_functions.h
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Create test_huge_number.py
  tests/python/test_huge_number.py
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

remove do_vec in favour of roll_vec
  src/grammar/dice.yacc
Labels: core

Update test_huge_number.py
  tests/python/test_huge_number.py
Labels: none

Update comments before merging
  src/grammar/dice.yacc
Labels: core

Fix for 465 (#470)
  Makefile
  src/grammar/dice.yacc
  src/grammar/util/vector_functions.c
  src/grammar/util/vector_functions.h
  tests/python/test_dropkeeping.py
Labels: core

Update test_huge_number.py
  tests/python/test_huge_number.py
Labels: none

Update main.cpp
  src/C++/main.cpp
Labels: none

Update main.cpp (#473)
  src/C++/main.cpp
Labels: none

Update README.md
  src/js/README.md
Labels: javascript

Update dice_core.c
  src/grammar/rolls/dice_core.c
Labels: none

Update dice_core.c
  src/grammar/rolls/dice_core.c
Labels: none

Style Fixes (#474)
  src/js/README.md
Labels: javascript

Update safe_functions.c
  src/grammar/util/safe_functions.c
Labels: none

Update safe_functions.h
  src/grammar/util/safe_functions.h
Labels: none

Update dice.lex
  src/grammar/dice.lex
Labels: core

Update vec.h
  src/grammar/constructs/vec.h
Labels: none

Update roll_parameters.h
  src/grammar/constructs/roll_parameters.h
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update vec.h
  src/grammar/constructs/vec.h
Labels: none

Update vector_functions.h
  src/grammar/util/vector_functions.h
Labels: none
