Repository ianfhunter/GNOLL, changes with the labels that .github/labeler.yml gives for each.
All labels: core, python, go, perl, javascript, macros, haskell, java, R

.github/labeler.yml:

core:
- src/grammar/*

python:
- src/python/*

go:
- src/go/*

perl:
- src/perl/*

javascript:
- src/js/*

macros:
- builtins/*

haskell:
- src/haskell/*

java:
- src/java/*

R:
- src/R/*

Update setup.cfg
  src/python/setup.cfg
Labels: python

Update GNOLL.ini
  GNOLL.ini
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Update publish_PyPi.yml (#484)
  .github/workflows/publish_PyPi.yml
Labels: none

Update setup.cfg
  src/python/setup.cfg
Labels: python

Update setup.cfg (#485)
  src/python/setup.cfg
Labels: python

Update GNOLL.ini
  GNOLL.ini
Labels: none

Update README.md
  README.md
Labels: none

Update index.html
  src/js/index.html
Labels: javascript

Update index.html (#486)
  src/js/index.html
Labels: javascript

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Create main.kt
  src/kotlin/main.kt
Labels: none

Create target.mk
  src/kotlin/target.mk
Labels: none

Create go.mod
  src/go/go.mod
Labels: go

Create go.mod (#489)
  src/go/go.mod
Labels: go

Update setup.cfg
  src/python/setup.cfg
Labels: python

Update setup.cfg
  src/python/setup.cfg
Labels: python

Update Project.toml
  src/julia/GNOLL/Project.toml
Labels: none

Update Project.toml (#490)
  src/julia/GNOLL/Project.toml
Labels: none

Update README.md
  README.md
Labels: none

Create gnoll.f90
  src/FORTRAN/gnoll.f90
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Create target.mk
  src/FORTRAN/target.mk
Labels: none

Update .github/workflows/test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update GNOLL.ini
  GNOLL.ini
Labels: none

Update GNOLL.ini
  GNOLL.ini
Labels: none

Create release_autoversioning.py
  scripts/release_autoversioning.py
Labels: none

Update release_autoversioning.py
  scripts/release_autoversioning.py
Labels: none

Update scripts/release_autoversioning.py
  scripts/release_autoversioning.py
Labels: none

Update release_autoversioning.py
  scripts/release_autoversioning.py
Labels: none

Update gnoll.f90
  src/FORTRAN/gnoll.f90
Labels: none

fix: reqs/requirements.txt to reduce vulnerabilities
  reqs/requirements.txt
Labels: none

fix: reqs/apt_requirements.txt to reduce vulnerabilities
  reqs/apt_requirements.txt
Labels: none

fix: reqs/apt_requirements.txt to reduce vulnerabilities (#494)
  reqs/apt_requirements.txt
Labels: none

fix: reqs/requirements.txt to reduce vulnerabilities (#493)
  reqs/requirements.txt
Labels: none

fix: reqs/requirements.txt to reduce vulnerabilities
  reqs/requirements.txt
Labels: none

fix: reqs/apt_requirements.txt to reduce vulnerabilities
  reqs/apt_requirements.txt
Labels: none

fix: reqs/apt_requirements.txt to reduce vulnerabilities (#498)
  reqs/apt_requirements.txt
Labels: none
