Repository ianfhunter/GNOLL, changes with the labels that .github/labeler.yml gives for each.
All labels: core, python, go, perl, javascript, macros, haskell, java, R

.github/labeler.yml:

core:
- src/grammar/*

python:
- src/python/*

go:
- src/go/*

perl:
- src/perl/*

javascript:
- src/js/*

macros:
- builtins/*

haskell:
- src/haskell/*

java:
- src/java/*

R:
- src/R/*

Update vector_functions.c
  src/grammar/util/vector_functions.c
Labels: none

Update vector_functions.h
  src/grammar/util/vector_functions.h
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update conditionals.c
  src/grammar/operations/conditionals.c
Labels: none

Update vector_functions.c
  src/grammar/util/vector_functions.c
Labels: none

Update conditionals.c
  src/grammar/operations/conditionals.c
Labels: none

Update conditionals.h
  src/grammar/operations/conditionals.h
Labels: none

replace pcg-basic with pcg-c
  .gitmodules
  Makefile
  src/grammar/external/pcg_basic.c
  src/grammar/external/pcg_basic.h
Labels: none

Update Makefile
  Makefile
Labels: none

Update test_OS.yml
  .github/workflows/test_OS.yml
Labels: none

Update test_core.yml
  .github/workflows/test_core.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_packages.yml
  .github/workflows/test_packages.yml
Labels: none

Update test_OS.yml
  .github/workflows/test_OS.yml
Labels: none

Update randomness.c
  src/grammar/rolls/randomness.c
Labels: none

Update Makefile
  Makefile
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update randomness.c
  src/grammar/rolls/randomness.c
Labels: none

Update Makefile
  Makefile
Labels: none

Browser JavaScript Support (#468)
  src/grammar/dice.yacc
  src/js/gnoll.js
  src/js/index.html
  src/js/package.json
  src/js/preface.js
  src/js/target.mk
  src/js/webpack.config.js
Labels: core, javascript

Update safe_functions.h
  src/grammar/util/safe_functions.h
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update README.md
  src/js/README.md
Labels: javascript

Update safe_functions.c
  src/grammar/util/safe_functions.c
Labels: none

Update safe_functions.h
  src/grammar/util/safe_functions.h
Labels: none
