Repository ianfhunter/GNOLL, changes with the labels that .github/labeler.yml gives for each.
All labels: core, python, go, perl, javascript, macros, haskell, java, R

fix: reqs/requirements.txt to reduce vulnerabilities (#497)
  reqs/requirements.txt
Labels: none

fix: reqs/requirements.txt to reduce vulnerabilities
  reqs/requirements.txt
Labels: none

fix: scripts/benchmark/requirements.txt to reduce vulnerabilities
  scripts/benchmark/requirements.txt
Labels: none

fix: scripts/benchmark/requirements.txt to reduce vulnerabilities (#502)
  scripts/benchmark/requirements.txt
Labels: none

fix: reqs/requirements.txt to reduce vulnerabilities (#501)
  reqs/requirements.txt
Labels: none

fix: reqs/requirements.txt to reduce vulnerabilities
  reqs/requirements.txt
Labels: none

Update publish_JOSS.yml
  .github/workflows/publish_JOSS.yml
Labels: none

Update publish_JOSS.yml
  .github/workflows/publish_JOSS.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update target.mk
  src/R/target.mk
Labels: R

Update target.mk
  src/R/target.mk
Labels: R

Update test_packages.yml
  .github/workflows/test_packages.yml
Labels: none

Update test_packages.yml
  .github/workflows/test_packages.yml
Labels: none

Update test_packages.yml
  .github/workflows/test_packages.yml
Labels: none

Update setup.cfg
  src/python/setup.cfg
Labels: python

[Snyk] Security upgrade setuptools from 40.5.0 to 78.1.1 (#511)
  .github/workflows/publish_JOSS.yml
  .github/workflows/publish_docs.yml
  .github/workflows/test_packages.yml
  reqs/requirements.txt
  src/R/target.mk
  src/python/setup.cfg
Labels: python, R

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Update publish_docs.yml (#512)
  .github/workflows/publish_PyPi.yml
  .github/workflows/publish_docs.yml
Labels: none

Update setup.cfg
  src/python/setup.cfg
Labels: python

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Update test_packages.yml
  .github/workflows/test_packages.yml
Labels: none

WIP for pip multibuild and test of current errors (#516)
  .github/workflows/publish_PyPi.yml
  .github/workflows/test_packages.yml
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Only look at Ubuntu pip now
  .github/workflows/publish_PyPi.yml
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Revert and simplify
  .github/workflows/publish_PyPi.yml
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Update publish_PyPi.yml (#517)
  .github/workflows/publish_PyPi.yml
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Update publish_PyPi.yml (#518)
  .github/workflows/publish_PyPi.yml
Labels: none

New python
  .github/workflows/publish_PyPi.yml
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

.github/labeler.yml:

core:
- src/grammar/*

python:
- src/python/*

go:
- src/go/*

perl:
- src/perl/*

javascript:
- src/js/*

macros:
- builtins/*

haskell:
- src/haskell/*

java:
- src/java/*

R:
- src/R/*
