Repository ianfhunter/GNOLL, changes with the labels that .github/labeler.yml gives for each.
All labels: core, python, go, perl, javascript, macros, haskell, java, R

Update test_package.py
  tests/python/test_package.py
Labels: none

Update histogram.py
  scripts/histogram/histogram.py
Labels: none

Update benchmark_cmd.py
  scripts/benchmark/benchmark_cmd.py
Labels: none

Update benchmark_gnoll_versions.py
  scripts/benchmark/benchmark_gnoll_versions.py
Labels: none

Update benchmark_python.py
  scripts/benchmark/benchmark_python.py
Labels: none

Update yatzy.py
  scripts/demo/yatzy.py
Labels: none

Update critical_highlights.py
  scripts/demo/critical_highlights.py
Labels: none

Update FAQ.md
  doc/gh-pages/developers/FAQ.md
Labels: none

Update installation.md
  doc/gh-pages/developers/installation.md
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update test_core.yml
  .github/workflows/test_core.yml
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

--version and --help available anywhere
  src/grammar/dice.yacc
Labels: core

Update installation.md
  doc/gh-pages/developers/installation.md
Labels: none

Delete c_build
  src/go/c_build
Labels: go

Delete c_includes
  src/go/c_includes
Labels: go

Update installation.md
  doc/gh-pages/developers/installation.md
Labels: none

Update installation.md
  doc/gh-pages/developers/installation.md
Labels: none

Update installation.md
  doc/gh-pages/developers/installation.md
Labels: none

Update target.mk
  src/go/target.mk
Labels: go

Update target.mk
  src/julia/target.mk
Labels: none

Update target.mk
  src/PHP/target.mk
Labels: none

Update installation.md
  doc/gh-pages/developers/installation.md
Labels: none

Update target.mk
  src/go/target.mk
Labels: go

Update target.mk
  src/go/target.mk
Labels: go

Update target.mk
  src/go/target.mk
Labels: go

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update FAQ.md
  doc/gh-pages/developers/FAQ.md
Labels: none

Update setup.cfg
  src/python/setup.cfg
Labels: python

Update README.md
  README.md
Labels: none

Update test_packages.yml
  .github/workflows/test_packages.yml
Labels: none

Update target.mk
  src/python/target.mk
Labels: python

Update docs with recent Joss feedback (#429)
  .github/workflows/test_core.yml
  .github/workflows/test_packages.yml
  README.md
  doc/gh-pages/developers/FAQ.md
  doc/gh-pages/developers/installation.md
  scripts/benchmark/benchmark_cmd.py
  scripts/benchmark/benchmark_gnoll_versions.py
  scripts/benchmark/benchmark_python.py
  scripts/demo/critical_highlights.py
  scripts/demo/yatzy.py
  scripts/histogram/histogram.py
  src/go/target.mk
  src/grammar/dice.yacc
  src/python/code/gnoll/__init__.py
  src/python/code/gnoll/parser.py
  src/python/setup.cfg
  src/python/target.mk
  tests/python/test_package.py
  tests/python/util.py
Labels: core, python, go

Update Project.toml
  src/julia/GNOLL/Project.toml
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Update test_packages.yml
  .github/workflows/test_packages.yml
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

.github/labeler.yml:

core:
- src/grammar/*

python:
- src/python/*

go:
- src/go/*

perl:
- src/perl/*

javascript:
- src/js/*

macros:
- builtins/*

haskell:
- src/haskell/*

java:
- src/java/*

R:
- src/R/*
