Repository ianfhunter/GNOLL, changes with the labels that .github/labeler.yml gives for each.
All labels: core, python, go, perl, javascript, macros, haskell, java, R

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update README.md
  README.md
Labels: none

Update README.md (#452)
  README.md
Labels: none

Update rerolling.md
  doc/gh-pages/notation/rerolling.md
Labels: none

Update rerolling.md (#453)
  doc/gh-pages/notation/rerolling.md
Labels: none

Update builtin_macros.md
  doc/gh-pages/notation/builtin_macros.md
Labels: none

Update builtin_macros.md (#454)
  doc/gh-pages/notation/builtin_macros.md
Labels: none

Create test_reported_bugs.py
  tests/python/test_reported_bugs.py
Labels: none

Hardening (#450)
  Makefile
  src/grammar/external/pcg_basic.c
  src/grammar/external/uthash.h
  src/grammar/shared_header.h
  src/grammar/util/safe_functions.c
  src/grammar/util/string_functions.c
Labels: core

Create lint_sonar.yml
  .github/workflows/lint_sonar.yml
Labels: none

Update test_reported_bugs.py
  tests/python/test_reported_bugs.py
Labels: none

Update sonar-project.properties
  sonar-project.properties
Labels: none

Update test_reported_bugs.py
  tests/python/test_reported_bugs.py
Labels: none

Update util.py
  tests/python/util.py
Labels: none

Update sonar-project.properties
  sonar-project.properties
Labels: none

Update util.py
  tests/python/util.py
Labels: none

Update test_cli.py
  tests/python/test_cli.py
Labels: none

Update __main__.py
  src/python/code/gnoll/__main__.py
Labels: none

Update Makefile
  Makefile
Labels: none

Update target.mk
  src/python/target.mk
Labels: python

Update target.mk
  src/python/target.mk
Labels: python

Update __main__.py
  src/python/code/gnoll/__main__.py
Labels: none

Update __main__.py
  src/python/code/gnoll/__main__.py
Labels: none

Update __main__.py
  src/python/code/gnoll/__main__.py
Labels: none

Update __main__.py
  src/python/code/gnoll/__main__.py
Labels: none

Update __main__.py
  src/python/code/gnoll/__main__.py
Labels: none

Update test_reported_bugs.py
  tests/python/test_reported_bugs.py
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update test_reported_bugs.py
  tests/python/test_reported_bugs.py
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

.github/labeler.yml:

core:
- src/grammar/*

python:
- src/python/*

go:
- src/go/*

perl:
- src/perl/*

javascript:
- src/js/*

macros:
- builtins/*

haskell:
- src/haskell/*

java:
- src/java/*

R:
- src/R/*
