Repository ianfhunter/GNOLL, changes with the labels that .github/labeler.yml gives for each.
All labels: core, python, go, perl, javascript, macros, haskell, java, R

Update __init__.py
  src/python/code/gnoll/__init__.py
Labels: none

Update __init__.py
  src/python/code/gnoll/__init__.py
Labels: none

Update test_huge_number.py
  tests/python/test_huge_number.py
Labels: none

Update test_huge_number.py
  tests/python/test_huge_number.py
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update src/grammar/rolls/dice_core.c
  src/grammar/rolls/dice_core.c
Labels: none

Update src/grammar/rolls/dice_core.c
  src/grammar/rolls/dice_core.c
Labels: none

Update test_huge_number.py
  tests/python/test_huge_number.py
Labels: none

Update test_huge_number.py
  tests/python/test_huge_number.py
Labels: none

Update __init__.py
  src/python/code/gnoll/__init__.py
Labels: none

Update randomness.c
  src/grammar/rolls/randomness.c
Labels: none

Update randomness.c
  src/grammar/rolls/randomness.c
Labels: none

Update randomness.h
  src/grammar/rolls/randomness.h
Labels: none

Update randomness.c
  src/grammar/rolls/randomness.c
Labels: none

Update randomness.c
  src/grammar/rolls/randomness.c
Labels: none

Update randomness.h
  src/grammar/rolls/randomness.h
Labels: none

Update randomness.c
  src/grammar/rolls/randomness.c
Labels: none

Update randomness.h
  src/grammar/rolls/randomness.h
Labels: none

Update test_huge_number.py
  tests/python/test_huge_number.py
Labels: none

[WIP] Huge numbers (#472)
  .github/workflows/lint_codeQL.yml
  .github/workflows/test_OS.yml
  .github/workflows/test_core.yml
  .github/workflows/test_language_bindings.yml
  .github/workflows/test_packages.yml
  .gitmodules
  Makefile
  src/R/target.mk
  src/grammar/constructs/roll_parameters.h
  src/grammar/constructs/vec.h
  src/grammar/dice.lex
  src/grammar/dice.yacc
  src/grammar/external/pcg_basic.c
  src/grammar/external/pcg_basic.h
  src/grammar/operations/conditionals.c
  src/grammar/operations/conditionals.h
  src/grammar/rolls/dice_core.c
  src/grammar/rolls/dice_core.h
  src/grammar/rolls/dice_frontend.c
  src/grammar/rolls/dice_frontend.h
  src/grammar/rolls/randomness.c
  src/grammar/rolls/randomness.h
  src/grammar/shared_header.h
  src/grammar/util/array_functions.c
  src/grammar/util/array_functions.h
  src/grammar/util/mocking.c
  src/grammar/util/mocking.h
  src/grammar/util/safe_functions.c
  src/grammar/util/safe_functions.h
  src/grammar/util/string_functions.c
  src/grammar/util/string_functions.h
  src/grammar/util/vector_functions.c
  src/grammar/util/vector_functions.h
  src/java/target.mk
  src/js/target.mk
  src/perl/target.mk
  src/python/code/gnoll/__init__.py
  src/python/target.mk
  tests/python/systems/Troika/test_troika.py
  tests/python/test_huge_number.py
Labels: core, python, perl, javascript, java, R

Create scraper.py
  tests/selenium/scraper.py
Labels: none

Create test_selenium.yml
  .github/workflows/test_selenium.yml
Labels: none

Update test_selenium.yml
  .github/workflows/test_selenium.yml
Labels: none

Update test_selenium.yml
  .github/workflows/test_selenium.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update target.mk
  src/js/target.mk
Labels: javascript

Update target.mk
  src/js/target.mk
Labels: javascript

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update target.mk
  src/js/target.mk
Labels: javascript

Revert "[WIP] Huge numbers (#472)"
  .github/workflows/lint_codeQL.yml
  .github/workflows/test_OS.yml
  .github/workflows/test_core.yml
  .github/workflows/test_language_bindings.yml
  .github/workflows/test_packages.yml
  .gitmodules
  Makefile
  src/R/target.mk
  src/grammar/constructs/roll_parameters.h
  src/grammar/constructs/vec.h
  src/grammar/dice.lex
  src/grammar/dice.yacc
  src/grammar/external/pcg_basic.c
  src/grammar/external/pcg_basic.h
  src/grammar/operations/conditionals.c
  src/grammar/operations/conditionals.h
  src/grammar/rolls/dice_core.c
  src/grammar/rolls/dice_core.h
  src/grammar/rolls/dice_frontend.c
  src/grammar/rolls/dice_frontend.h
  src/grammar/rolls/randomness.c
  src/grammar/rolls/randomness.h
  src/grammar/shared_header.h
  src/grammar/util/array_functions.c
  src/grammar/util/array_functions.h
  src/grammar/util/mocking.c
  src/grammar/util/mocking.h
  src/grammar/util/safe_functions.c
  src/grammar/util/safe_functions.h
  src/grammar/util/string_functions.c
  src/grammar/util/string_functions.h
  src/grammar/util/vector_functions.c
  src/grammar/util/vector_functions.h
  src/java/target.mk
  src/js/target.mk
  src/perl/target.mk
  src/python/code/gnoll/__init__.py
  src/python/target.mk
  tests/python/systems/Troika/test_troika.py
  tests/python/test_huge_number.py
Labels: core, python, perl, javascript, java, R

Update target.mk
  src/js/target.mk
Labels: javascript

Update target.mk
  src/js/target.mk
Labels: javascript

Update target.mk
  src/js/target.mk
Labels: javascript

Update target.mk
  src/js/target.mk
Labels: javascript

Update target.mk
  src/js/target.mk
Labels: javascript

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update target.mk
  src/js/target.mk
Labels: javascript

Update target.mk
  src/js/target.mk
Labels: javascript

.github/labeler.yml:

core:
- src/grammar/*

python:
- src/python/*

go:
- src/go/*

perl:
- src/perl/*

javascript:
- src/js/*

macros:
- builtins/*

haskell:
- src/haskell/*

java:
- src/java/*

R:
- src/R/*
