Repository ianfhunter/GNOLL, changes with the labels that .github/labeler.yml gives for each.
All labels: core, python, go, perl, javascript, macros, haskell, java, R

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

[WIP] Simplified Status Checking (#399)
  .github/workflows/test_language_bindings.yml
Labels: none

Update experimental.md
  doc/gh-pages/developers/experimental.md
Labels: none

Update experimental.md
  doc/gh-pages/developers/experimental.md
Labels: none

Update FAQ.md
  doc/gh-pages/developers/FAQ.md
Labels: none

Update FAQ.md
  doc/gh-pages/developers/FAQ.md
Labels: none

Update index.php
  src/PHP/index.php
Labels: none

Update target.mk
  src/PHP/target.mk
Labels: none

Update index.php
  src/PHP/index.php
Labels: none

Update installation.md
  doc/gh-pages/developers/installation.md
Labels: none

Update index.php
  src/PHP/index.php
Labels: none

Update README.md
  README.md
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Delete test_binding_php.yml
  .github/workflows/test_binding_php.yml
Labels: none

Remove smells
  src/PHP/index.php
Labels: none

Update index.php
  src/PHP/index.php
Labels: none

Update index.php
  src/PHP/index.php
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

PHP support (#386)
  .github/workflows/test_language_bindings.yml
  README.md
  doc/gh-pages/developers/installation.md
  src/PHP/index.php
  src/PHP/target.mk
Labels: none

Update paper.md
  doc/JOSS/paper.md
Labels: none

Create target.mk
  src/MATLAB/target.mk
Labels: none

Update supported_rpgs.md
  doc/gh-pages/etc/supported_rpgs.md
Labels: none

Update supported_rpgs.md
  doc/gh-pages/etc/supported_rpgs.md
Labels: none

Update supported_rpgs.md
  doc/gh-pages/etc/supported_rpgs.md
Labels: none

ALL macros
  builtins/Alt_D6.dice.excluded
  builtins/WIP/d666.dice.excluded
  doc/gh-pages/notation/custom_macros.md
  src/grammar/dice.yacc
  src/grammar/operations/macros.c
  src/grammar/util/safe_functions.c
Labels: core, macros

ALL macros (#403)
  builtins/Alt_D6.dice.excluded
  builtins/WIP/d666.dice.excluded
  doc/gh-pages/notation/custom_macros.md
  src/grammar/dice.yacc
  src/grammar/operations/macros.c
  src/grammar/util/safe_functions.c
Labels: core, macros

all of the entries!
  doc/gh-pages/etc/supported_rpgs.md
Labels: none

matlab basics
  .github/workflows/test_language_bindings.yml
  src/MATLAB/main.m
Labels: none

Update supported_rpgs.md
  doc/gh-pages/etc/supported_rpgs.md
Labels: none

Create gnoll_bindings.rs
  src/rust/gnoll_bindings.rs
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_packages.yml
  .github/workflows/test_packages.yml
Labels: none

Update test_packages.yml
  .github/workflows/test_packages.yml
Labels: none

🔀 Apply suggestions from code review
  .github/workflows/test_packages.yml
Labels: none

Update test_packages.yml
  .github/workflows/test_packages.yml
Labels: none

Update test_packages.yml
  .github/workflows/test_packages.yml
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Update setup.cfg
  src/python/setup.cfg
Labels: python

Test of PyPI Packaging for win + macOS (#407)
  .github/workflows/publish_PyPi.yml
  .github/workflows/test_packages.yml
  src/python/setup.cfg
Labels: python

.github/labeler.yml:

core:
- src/grammar/*

python:
- src/python/*

go:
- src/go/*

perl:
- src/perl/*

javascript:
- src/js/*

macros:
- builtins/*

haskell:
- src/haskell/*

java:
- src/java/*

R:
- src/R/*
