Repository ianfhunter/GNOLL, changes with the labels that .github/labeler.yml gives for each.
All labels: core, python, go, perl, javascript, macros, haskell, java, R

.github/labeler.yml:

core:
- src/grammar/*

python:
- src/python/*

go:
- src/go/*

perl:
- src/perl/*

javascript:
- src/js/*

macros:
- builtins/*

haskell:
- src/haskell/*

java:
- src/java/*

R:
- src/R/*

fix: reqs/requirements.txt to reduce vulnerabilities
  reqs/requirements.txt
Labels: none

fix: reqs/requirements.txt to reduce vulnerabilities
  reqs/requirements.txt
Labels: none

fix: reqs/requirements.txt to reduce vulnerabilities (#522)
  reqs/requirements.txt
Labels: none

fix: reqs/requirements.txt to reduce vulnerabilities
  reqs/requirements.txt
Labels: none

Reject oversized literals and cap dice simulated per roll
  src/grammar/dice.lex
  src/grammar/rolls/dice_core.c
  src/grammar/shared_header.h
  src/grammar/util/safe_functions.c
  src/grammar/util/safe_functions.h
Labels: core

Python: pre-validate roll strings before native call
  src/python/code/gnoll/__init__.py
  src/python/code/gnoll/validation.py
  tests/python/test_input_limits.py
Labels: none

Guard roll_plain/symbolic when do_roll fails; expand input limit tests
  src/grammar/rolls/dice_frontend.c
  tests/python/test_input_limits.py
Labels: none

tests: conftest adds gnoll to path; make test uses python not pip
  Makefile
  tests/python/conftest.py
Labels: none

Move roll bounds validation to C for FFI; fix yacc rebuild deps
  Makefile
  src/grammar/dice.yacc
  src/grammar/shared_header.h
  src/grammar/util/roll_validation.c
  src/python/code/gnoll/__init__.py
  src/python/code/gnoll/validation.py
  tests/python/test_input_limits.py
Labels: core

Bindings: expose gnoll_validate_roll_request across FFI examples
  src/C++/main.cpp
  src/CSharp/main.cs
  src/PHP/index.php
  src/R/main.r
  src/go/main.go
  src/grammar/dice.yacc
  src/grammar/shared_header.h
  src/haskell/app/Main.hs
  src/java/org_gnoll_DiceNotationParser.h
  src/java/src/Test.java
  src/java/src/org/gnoll/DiceNotationParser.java
  src/java/src/org_gnoll_DiceNotationParser.c
  src/js/gnoll.js
  src/js/target.mk
  src/julia/GNOLL/src/GnollDiceNotation.jl
  src/julia/GNOLL/test/runtests.jl
  src/lua/example.lua
  src/ruby/main.rb
  src/rust/gnoll_bindings.rs
Labels: core, go, javascript, java, R

CI: fix Haskell Cabal link, Rust build.rs link path, webpack node: aliases
  src/haskell/src.cabal
  src/js/webpack.config.js
  src/rust/Cargo.toml
  src/rust/build.rs
  src/rust/gnoll_bindings.rs
  src/rust/target.mk
Labels: javascript, haskell

CI: fix Haskell FFI IO types; webpack replace node: imports; haskell lib copy
  src/haskell/app/Main.hs
  src/haskell/src.cabal
  src/haskell/target.mk
  src/js/webpack.config.js
Labels: javascript, haskell

Haskell: embed rpath for libdice.so; avoid partial head
  src/haskell/app/Main.hs
  src/haskell/target.mk
Labels: haskell

Haskell CI: cabal.project.local for rpath; LD_LIBRARY_PATH for cabal run
  .github/workflows/test_language_bindings.yml
  src/haskell/target.mk
Labels: haskell

Managed limits for pathological dice notation (overflow, huge rolls) (#526)
  .github/workflows/test_language_bindings.yml
  Makefile
  src/C++/main.cpp
  src/CSharp/main.cs
  src/PHP/index.php
  src/R/main.r
  src/go/main.go
  src/grammar/dice.lex
  src/grammar/dice.yacc
  src/grammar/rolls/dice_core.c
  src/grammar/rolls/dice_frontend.c
  src/grammar/shared_header.h
  src/grammar/util/roll_validation.c
  src/grammar/util/safe_functions.c
  src/grammar/util/safe_functions.h
  src/haskell/app/Main.hs
  src/haskell/src.cabal
  src/haskell/target.mk
  src/java/org_gnoll_DiceNotationParser.h
  src/java/src/Test.java
  src/java/src/org/gnoll/DiceNotationParser.java
  src/java/src/org_gnoll_DiceNotationParser.c
  src/js/gnoll.js
  src/js/target.mk
  src/js/webpack.config.js
  src/julia/GNOLL/src/GnollDiceNotation.jl
  src/julia/GNOLL/test/runtests.jl
  src/lua/example.lua
  src/python/code/gnoll/__init__.py
  src/ruby/main.rb
  src/rust/Cargo.toml
  src/rust/build.rs
  src/rust/gnoll_bindings.rs
  src/rust/target.mk
  tests/python/conftest.py
  tests/python/test_input_limits.py
Labels: core, go, javascript, haskell, java, R
