Repository ianfhunter/GNOLL, changes with the labels that .github/labeler.yml gives for each.
All labels: core, python, go, perl, javascript, macros, haskell, java, R

Update benchmark_gnoll_versions.py
  scripts/benchmark/benchmark_gnoll_versions.py
Labels: none

Update randomness.c
  src/grammar/rolls/randomness.c
Labels: none

Update benchmark_gnoll_versions.py
  scripts/benchmark/benchmark_gnoll_versions.py
Labels: none

Experimental Optimization: CLT/Box-Muller (#391)
  Makefile
  doc/gh-pages/developers/CLT_data/CRT_Distribution.png
  doc/gh-pages/developers/CLT_data/Performance_Delta.png
  doc/gh-pages/developers/CLT_data/Regular_Distribution.png
  doc/gh-pages/developers/experimental.md
  scripts/benchmark/benchmark_core.py
  scripts/benchmark/benchmark_gnoll_versions.py
  scripts/histogram/histogram.py
  src/go/target.mk
  src/grammar/dice.yacc
  src/grammar/rolls/dice_core.c
  src/grammar/rolls/dice_core.h
  src/grammar/rolls/dice_frontend.c
  src/grammar/rolls/randomness.c
  src/grammar/rolls/randomness.h
  src/haskell/target.mk
  src/python/code/gnoll/parser.py
Labels: core, go, haskell

Create target.mk
  src/ruby/target.mk
Labels: none

Update target.mk
  src/ruby/target.mk
Labels: none

Create main.rb
  src/ruby/main.rb
Labels: none

Create test_binding_ruby.yml
  .github/workflows/test_binding_ruby.yml
Labels: none

Update supported_rpgs.md
  doc/gh-pages/etc/supported_rpgs.md
Labels: none

Update test_binding_java.yml
  .github/workflows/test_binding_java.yml
Labels: none

Update test_binding_haskell.yml
  .github/workflows/test_binding_haskell.yml
Labels: none

Update test_binding_ruby.yml
  .github/workflows/test_binding_ruby.yml
Labels: none

Update main.rb
  src/ruby/main.rb
Labels: none

Update main.rb
  src/ruby/main.rb
Labels: none

Update FAQ.md
  doc/gh-pages/developers/FAQ.md
Labels: none

add end
  src/ruby/main.rb
Labels: none

simplify
  src/ruby/main.rb
Labels: none

Update src/ruby/main.rb
  src/ruby/main.rb
Labels: none

documentation update
  README.md
  doc/gh-pages/developers/installation.md
Labels: none

[WIP] Ruby (#395)
  .github/workflows/test_binding_ruby.yml
  README.md
  doc/gh-pages/developers/installation.md
  src/ruby/main.rb
  src/ruby/target.mk
Labels: none

Initial attempt
  .github/workflows/test_binding_csharp.yml
  README.md
  src/C++/target.mk
  src/CSharp/main.cs
  src/CSharp/target.mk
Labels: none

Update test_explosions.py
  tests/python/test_explosions.py
Labels: none

;s
  src/CSharp/main.cs
Labels: none

more ;
  src/CSharp/main.cs
Labels: none

param
  src/CSharp/main.cs
Labels: none

https://stackoverflow.com/questions/10630419/how-to-call-from-a-c-sharp-applicaiton-a-c-function-taking-a-pointer-to-void
  src/CSharp/main.cs
Labels: none

extra bracket
  src/CSharp/main.cs
Labels: none

tryy just run global
  src/CSharp/main.cs
Labels: none

missing import
  src/CSharp/main.cs
Labels: none

documentation
  README.md
  doc/gh-pages/developers/installation.md
Labels: none

space
  .github/workflows/test_binding_csharp.yml
Labels: none

[WIP] C# (#397)
  .github/workflows/test_binding_csharp.yml
  README.md
  doc/gh-pages/developers/installation.md
  src/C++/target.mk
  src/CSharp/main.cs
  src/CSharp/target.mk
Labels: none

combine
  .github/workflows/test_OS.yml
  .github/workflows/test_binding_R.yml
  .github/workflows/test_binding_cpp.yml
  .github/workflows/test_binding_csharp.yml
  .github/workflows/test_binding_go.yml
  .github/workflows/test_binding_haskell.yml
  .github/workflows/test_binding_java.yml
  .github/workflows/test_binding_javascript.yml
  .github/workflows/test_binding_julia.yml
  .github/workflows/test_binding_perl.yml
  .github/workflows/test_binding_ruby.yml
  .github/workflows/test_core.yml
  .github/workflows/test_packages.yml
Labels: none

oops deleted files
  .github/workflows/test_language_bindings.yml
Labels: none

fix linux test
  .github/workflows/test_OS.yml
Labels: none

trailing spaces
  .github/workflows/test_language_bindings.yml
Labels: none

update readmes + bump to v4.2.0
  README.md
  src/julia/GNOLL/Project.toml
  src/julia/GNOLL/README.md
  src/python/README.md
  src/python/setup.cfg
Labels: python

combine all binding test into one (#398)
  .github/workflows/test_OS.yml
  .github/workflows/test_binding_R.yml
  .github/workflows/test_binding_cpp.yml
  .github/workflows/test_binding_csharp.yml
  .github/workflows/test_binding_go.yml
  .github/workflows/test_binding_haskell.yml
  .github/workflows/test_binding_java.yml
  .github/workflows/test_binding_javascript.yml
  .github/workflows/test_binding_julia.yml
  .github/workflows/test_binding_perl.yml
  .github/workflows/test_binding_ruby.yml
  .github/workflows/test_core.yml
  .github/workflows/test_language_bindings.yml
  .github/workflows/test_packages.yml
  README.md
  src/julia/GNOLL/Project.toml
  src/julia/GNOLL/README.md
  src/python/README.md
  src/python/setup.cfg
Labels: python

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

.github/labeler.yml:

core:
- src/grammar/*

python:
- src/python/*

go:
- src/go/*

perl:
- src/perl/*

javascript:
- src/js/*

macros:
- builtins/*

haskell:
- src/haskell/*

java:
- src/java/*

R:
- src/R/*
