Repository ianfhunter/GNOLL, changes with the labels that .github/labeler.yml gives for each.
All labels: core, python, go, perl, javascript, macros, haskell, java, R

.github/labeler.yml:

core:
- src/grammar/*

python:
- src/python/*

go:
- src/go/*

perl:
- src/perl/*

javascript:
- src/js/*

macros:
- builtins/*

haskell:
- src/haskell/*

java:
- src/java/*

R:
- src/R/*

fix: scripts/histogram/requirements.txt to reduce vulnerabilities
  scripts/histogram/requirements.txt
Labels: none

In Python, delete the temporary file by default
  src/python/code/gnoll/__init__.py
Labels: none

Add a Python command-line interface
  README.md
  src/python/code/gnoll/__main__.py
Labels: none

Apply style fixes
  src/python/code/gnoll/__init__.py
  src/python/code/gnoll/__main__.py
Labels: none

more style fixes
  src/python/code/gnoll/__main__.py
Labels: none

fix: scripts/histogram/requirements.txt to reduce vulnerabilities (#439)
  scripts/histogram/requirements.txt
Labels: none

fix trailing whitespace
  src/python/code/gnoll/__main__.py
Labels: none

Add a Python command-line interface (#441)
  README.md
  src/python/code/gnoll/__init__.py
  src/python/code/gnoll/__main__.py
Labels: none

Apply suggestions from code review
  scripts/benchmark/benchmark_core.py
Labels: none

Update GNOLL.ini
  GNOLL.ini
Labels: none

Update setup.cfg
  src/python/setup.cfg
Labels: python

Update Project.toml
  src/julia/GNOLL/Project.toml
Labels: none

Add a `--times` argument to the Python CLI
  src/python/code/gnoll/__main__.py
Labels: none

Test the Python command-line interface
  src/python/code/gnoll/__main__.py
  tests/python/test_cli.py
Labels: none

Test and slightly extend the Python command-line interface (#447)
  src/python/code/gnoll/__main__.py
  tests/python/test_cli.py
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Update GNOLL.ini
  GNOLL.ini
Labels: none

Update publish_PyPi.yml
  .github/workflows/publish_PyPi.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update mocking.h
  src/grammar/util/mocking.h
Labels: none

Update safe_functions.h
  src/grammar/util/safe_functions.h
Labels: none

Update mocking.h
  src/grammar/util/mocking.h
Labels: none

Update mocking.c
  src/grammar/util/mocking.c
Labels: none

Update safe_functions.c
  src/grammar/util/safe_functions.c
Labels: none

Update randomness.h
  src/grammar/rolls/randomness.h
Labels: none

Update randomness.c
  src/grammar/rolls/randomness.c
Labels: none

Update macros.c
  src/grammar/operations/macros.c
Labels: none

Update macros.h
  src/grammar/operations/macros.h
Labels: none

Update pcg_basic.c
  src/grammar/external/pcg_basic.c
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core
