Repository ianfhunter/GNOLL, changes with the labels that .github/labeler.yml gives for each.
All labels: core, python, go, perl, javascript, macros, haskell, java, R

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update target.mk
  src/js/target.mk
Labels: javascript

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update README.md
  src/js/README.md
Labels: javascript

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update test_dropkeeping.py
  tests/python/test_dropkeeping.py
Labels: none

Update test_dropkeeping.py
  tests/python/test_dropkeeping.py
Labels: none

Update test_dropkeeping.py
  tests/python/test_dropkeeping.py
Labels: none

Update vector_functions.c
  src/grammar/util/vector_functions.c
Labels: none

Update macros.c
  src/grammar/operations/macros.c
Labels: none

Update test_OS.yml
  .github/workflows/test_OS.yml
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update vector_functions.c
  src/grammar/util/vector_functions.c
Labels: none

Update README.md
  src/js/README.md
Labels: javascript

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

JavaScript code should print out result, not write to file. (#464)
  .github/workflows/test_language_bindings.yml
  src/grammar/dice.yacc
  src/js/README.md
  src/js/target.mk
Labels: core, javascript

Update main.cpp
  src/C++/main.cpp
Labels: none

Update dice_core.c
  src/grammar/rolls/dice_core.c
Labels: none

Update vector_functions.c
  src/grammar/util/vector_functions.c
Labels: none

Update dice_core.c
  src/grammar/rolls/dice_core.c
Labels: none

Update vector_functions.h
  src/grammar/util/vector_functions.h
Labels: none

Update vector_functions.c
  src/grammar/util/vector_functions.c
Labels: none

Update vector_functions.h
  src/grammar/util/vector_functions.h
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Sample code to run in the browser.
  index.html
  src/grammar/dice.yacc
  src/js/target.mk
Labels: core, javascript

Added way to extract command output and store it in a string.
  index.html
  src/js/preface.js
  src/js/target.mk
Labels: javascript

Working on getting bundled javascript to work.
  package.json
  src/js/target.mk
  src/js/webpack.config.js
  src/js/wrapper.js
  yarn.lock
Labels: javascript

Tinkering
  src/js/wrapper.js
Labels: javascript

.github/labeler.yml:

core:
- src/grammar/*

python:
- src/python/*

go:
- src/go/*

perl:
- src/perl/*

javascript:
- src/js/*

macros:
- builtins/*

haskell:
- src/haskell/*

java:
- src/java/*

R:
- src/R/*
