Repository ianfhunter/GNOLL, changes with the labels that .github/labeler.yml gives for each.
All labels: core, python, go, perl, javascript, macros, haskell, java, R

.github/labeler.yml:

core:
- src/grammar/*

python:
- src/python/*

go:
- src/go/*

perl:
- src/perl/*

javascript:
- src/js/*

macros:
- builtins/*

haskell:
- src/haskell/*

java:
- src/java/*

R:
- src/R/*

Update target.mk
  src/js/target.mk
Labels: javascript

Update target.mk
  src/js/target.mk
Labels: javascript

Update target.mk
  src/js/target.mk
Labels: javascript

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update README.md
  src/js/README.md
Labels: javascript

Update README.md (#480)
  src/js/README.md
Labels: javascript

Update manual_benchmarking.yaml
  .github/workflows/manual_benchmarking.yaml
Labels: none

Update manual_benchmarking.yaml (#481)
  .github/workflows/manual_benchmarking.yaml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Labels: none

Fix webapp + publish on ghpages (#478)
  .github/workflows/publish_docs.yml
  .github/workflows/test_language_bindings.yml
  .github/workflows/test_selenium.yml
  src/js/target.mk
  tests/selenium/scraper.py
Labels: javascript

Update index.md
  doc/gh-pages/index.md
Labels: none

Update index.md (#482)
  doc/gh-pages/index.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md (#483)
  README.md
Labels: none

Update index.html
  src/js/index.html
Labels: javascript

Update setup.cfg
  src/python/setup.cfg
Labels: python

Update Project.toml
  src/julia/GNOLL/Project.toml
Labels: none

Update GNOLL.ini
  GNOLL.ini
Labels: none

Update Project.toml
  src/julia/GNOLL/Project.toml
Labels: none
