Repository ianfhunter/GNOLL, changes with the labels that .github/labeler.yml gives for each.
All labels: core, python, go, perl, javascript, macros, haskell, java, R

Update safe_functions.c
  src/grammar/util/safe_functions.c
Labels: none

Update README.md (#475)
  src/js/README.md
Labels: javascript

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update target.mk
  src/js/target.mk
Labels: javascript

Update target.mk
  src/java/target.mk
Labels: java

Update Makefile
  Makefile
Labels: none

Update target.mk
  src/perl/target.mk
Labels: perl

Update target.mk
  src/R/target.mk
Labels: R

Update test_language_bindings.yml
  .github/workflows/test_language_bindings.yml
Labels: none

Update randomness.c
  src/grammar/rolls/randomness.c
Labels: none

Update safe_functions.c
  src/grammar/util/safe_functions.c
Labels: none

Update safe_functions.h
  src/grammar/util/safe_functions.h
Labels: none

Update lint_codeQL.yml
  .github/workflows/lint_codeQL.yml
Labels: none

Update target.mk
  src/python/target.mk
Labels: python

Update target.mk
  src/python/target.mk
Labels: python

Update randomness.c
  src/grammar/rolls/randomness.c
Labels: none

Update target.mk
  src/python/target.mk
Labels: python

Update test_OS.yml
  .github/workflows/test_OS.yml
Labels: none

Update target.mk
  src/js/target.mk
Labels: javascript

Update test_huge_number.py
  tests/python/test_huge_number.py
Labels: none

Update target.mk
  src/python/target.mk
Labels: python

Update target.mk
  src/python/target.mk
Labels: python

Update target.mk
  src/python/target.mk
Labels: python

Update target.mk
  src/python/target.mk
Labels: python

Update target.mk
  src/python/target.mk
Labels: python

Update test_troika.py
  tests/python/systems/Troika/test_troika.py
Labels: none

Update target.mk
  src/python/target.mk
Labels: python

initial_change
  src/grammar/constructs/vec.h
  src/grammar/dice.lex
  src/grammar/dice.yacc
  src/grammar/operations/conditionals.c
  src/grammar/operations/macros.c
  src/grammar/rolls/dice_frontend.c
  src/grammar/util/safe_functions.c
  src/grammar/util/vector_functions.c
Labels: core

remove union to another PR
  src/grammar/constructs/vec.h
  src/grammar/dice.lex
  src/grammar/dice.yacc
  src/grammar/operations/conditionals.c
  src/grammar/operations/macros.c
  src/grammar/rolls/dice_frontend.c
  src/grammar/util/safe_functions.c
  src/grammar/util/vector_functions.c
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Vec - use a union (#477)
  src/grammar/constructs/vec.h
  src/grammar/dice.lex
  src/grammar/dice.yacc
  src/grammar/operations/conditionals.c
  src/grammar/operations/macros.c
  src/grammar/rolls/dice_frontend.c
  src/grammar/util/safe_functions.c
  src/grammar/util/vector_functions.c
Labels: core

Update conditionals.c
  src/grammar/operations/conditionals.c
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

Update dice_core.c
  src/grammar/rolls/dice_core.c
Labels: none

Update dice.yacc
  src/grammar/dice.yacc
Labels: core

.github/labeler.yml:

core:
- src/grammar/*

python:
- src/python/*

go:
- src/go/*

perl:
- src/perl/*

javascript:
- src/js/*

macros:
- builtins/*

haskell:
- src/haskell/*

java:
- src/java/*

R:
- src/R/*
