Repository ianfhunter/GNOLL, pull requests merged in 2022-10, with the labels that each got.

#222 Adding filter tests
  tests/python/test_filtering.py
Labels: hacktoberfest-accepted

#231 Changed the character name to Bold and GNOLL to Italic
  doc/gh-pages/notation/arithmetic.md
  doc/gh-pages/notation/dice_shorthand.md
  doc/gh-pages/notation/drop_keep_notation.md
  doc/gh-pages/notation/explosions.md
  doc/gh-pages/notation/rerolling.md
  doc/gh-pages/notation/symbolic_dice.md
Labels: hacktoberfest-accepted

#230 Update setup.cfg
  .github/workflows/pip_test.yml
  src/python/code/gnoll/parser.py
  src/python/setup.cfg
Labels: Python

#232 Update pip_test.yml
  .github/workflows/pip_test.yml
  src/python/MANIFEST.in
Labels: Python

#237 Update example_application.pl
  src/perl/example_application.pl
Labels: Perl

#244 Fix memory allocation warning
  src/grammar/macro_logic.c
Labels: core

#245 Added italian cards
  builtins/ItalianCards.dice
Labels: hacktoberfest-accepted, macros

#247 Correct broken links
  .gitignore
  doc/gh-pages/notation/dice_shorthand.md
Labels: hacktoberfest-accepted

#250 some minor improvements
  README.md
  src/grammar/dice.yacc
Labels: core

#253 Validate_Roll patch
  Makefile
  src/grammar/dice_logic.c
Labels: core

#256 add BESM dice macro
  builtins/BESM.dice
Labels: hacktoberfest-accepted, macros

#257 add magic 8 ball macro
  builtins/MagicEightBall.dice
Labels: macros

#254 WIP: Improved Error Handling
  .github/workflows/js-test.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  doc/gh-pages/developers/errors.md
  src/grammar/dice.lex
  src/grammar/dice.yacc
  src/grammar/dice_logic.c
  src/grammar/macro_logic.c
  src/grammar/macro_logic.h
  src/grammar/macros.dice
  src/grammar/rolls/condition_checking.c
  src/grammar/rolls/sided_dice.c
  src/grammar/safe_functions.c
  src/grammar/safe_functions.h
  src/grammar/shared_header.h
  src/grammar/vector_functions.c
  src/grammar/y.tab.c
  src/grammar/y.tab.h
  src/js/target.mk
  src/perl/target.mk
  src/python/code/gnoll/parser.py
  tests/python/test_arithmetic.py
  tests/python/test_counting.py
  tests/python/test_dropkeeping.py
  tests/python/test_explosions.py
  tests/python/test_fate_dice.py
  tests/python/test_filtering.py
  tests/python/test_macros.py
  tests/python/test_native_aliases.py
  tests/python/test_package.py
  tests/python/test_ranges.py
  tests/python/test_rerolling.py
  tests/python/test_simple_sided_dice.py
  tests/python/test_symbolic_dice.py
  tests/python/util.py
Labels: JavaScript, Perl, core

#261 Update Perl Build to be more flexible
  Makefile
  src/perl/target.mk
Labels: Perl

#260 created ars magica maccro
  builtins/WIP/ars_magica.dice
Labels: hacktoberfest-accepted

#263 Add extra paranoia to Make
  Makefile
  src/grammar/dice.lex
  src/grammar/dice.yacc
  src/grammar/dice_logic.c
  src/grammar/dice_logic.h
  src/grammar/macro_logic.c
  src/grammar/macro_logic.h
  src/grammar/rolls/condition_checking.c
  src/grammar/rolls/condition_checking.h
  src/grammar/rolls/dice_enums.h
  src/grammar/rolls/dice_roll_structs.h
  src/grammar/rolls/sided_dice.c
  src/grammar/rolls/sided_dice.h
  src/grammar/rolls/vec.h
  src/grammar/safe_functions.c
  src/grammar/uthash.h
  src/grammar/vector_functions.c
  src/grammar/vector_functions.h
  src/grammar/yacc_header.h
Labels: core

#264 Verify built-in macros
  builtins/Alt_D6.dice
  builtins/BattleOfTheElements.dice
  builtins/BloodBowl.dice
  builtins/CharacterCreation.dice
  builtins/Emotions.dice
  builtins/MagicEightBall.dice
  builtins/Mosaix.dice
  builtins/Oracle.dice
  builtins/TraditionalGames.dice
  builtins/Warhammer_Underworlds.dice
  src/grammar/dice.lex
  src/grammar/dice.yacc
  src/python/code/gnoll/parser.py
  src/python/setup.cfg
  src/python/target.mk
  tests/python/test_fate_dice.py
  tests/python/test_macros.py
  tests/python/util.py
Labels: Python, core, macros

#269 Enforce strict -wFormat
  Makefile
  doc/gh-pages/developers/errors.md
  src/grammar/dice.yacc
  src/grammar/rolls/condition_checking.c
  src/grammar/safe_functions.c
  src/grammar/safe_functions.h
  src/grammar/vector_functions.c
Labels: core

#271 Simplified test fn
  src/grammar/dice.yacc
  src/python/code/gnoll/parser.py
Labels: core

#273 SYNTAX_ERROR error code
  doc/gh-pages/developers/errors.md
  src/grammar/dice.yacc
  src/grammar/safe_functions.h
Labels: core

#276 Go style
  src/go/main.go
Labels: Go

#283 Updated contribution.md
  .github/CONTRIBUTING.md
  CONTRIBUTING.md
Labels: hacktoberfest-accepted

#287 created macro tarot cards dice
  builtins/Tarot_Cards.dice
Labels: macros

#262 WIP: Allow replication of results
  .github/workflows/benchmark_py.yaml
  Makefile
  scripts/README.md
  scripts/python_benchmark/README.md
  scripts/python_benchmark/benchmark.py
  scripts/python_benchmark/requirements.txt
Labels: JOSS

#288 created and updated icon to halloween theme
  README.md
  media/gnoll_halloween.png
Labels: hacktoberfest-accepted

#248 Complete Grindon stories
  doc/gh-pages/notation/builtin_macros.md
  doc/gh-pages/notation/custom_macros.md
  doc/gh-pages/notation/dice_counting.md
  doc/gh-pages/notation/filters.md
Labels: hacktoberfest-accepted

#289 Auto benchmark Vs Troll etc
  .github/workflows/benchmark_py.yaml
  .github/workflows/benchmarking.yaml
  scripts/python_benchmark/benchmark_cmd.py
Labels: JOSS

#294 use a ms granularity seed
  src/grammar/dice.yacc
Labels: core

#295 Use PCG for securer, more statistically consistent random functions without performance degradation
  src/grammar/dice.yacc
  src/grammar/dice_logic.c
  src/grammar/pcg_basic.c
  src/grammar/pcg_basic.h
Labels: core

#296 add secure roll option
  Makefile
  README.md
  doc/gh-pages/developers/randomness.md
  src/grammar/dice_logic.c
  src/python/setup.cfg
Labels: Python, core, JOSS

#306 Try flex/bison
  .github/workflows/benchmarking.yaml
  .github/workflows/c-cpp.yml
  Makefile
  README.md
  doc/JOSS/paper.md
  doc/JOSS/py.PNG
  scripts/benchmark/README.md
  scripts/benchmark/benchmark.py
  scripts/benchmark/benchmark_cmd.py
  scripts/benchmark/requirements.txt
  src/grammar/dice.yacc
  src/grammar/dice_logic.c
  src/js/target.mk
  src/python/README.md
  src/python/setup.cfg
Labels: Python, JavaScript, core

#310 Divide by zero
  doc/gh-pages/developers/errors.md
  src/grammar/dice.yacc
  src/grammar/safe_functions.h
  src/python/code/gnoll/parser.py
  tests/python/test_overflow.py
Labels: core

#311 Fix #129 - Macro Rerolling
  .github/workflows/benchmarking.yaml
  .gitignore
  Makefile
  builtins/Alt_D6.dice.excluded
  doc/JOSS/py.PNG
  doc/gh-pages/developers/errors.md
  src/grammar/dice.yacc
  src/grammar/dice_logic.c
  src/grammar/dice_logic.h
  src/grammar/macro_logic.c
  src/grammar/macro_logic.h
  src/grammar/rolls/dice_roll_structs.h
  src/grammar/rolls/sided_dice.c
  src/grammar/safe_functions.c
  src/grammar/safe_functions.h
  src/grammar/shared_header.h
  src/grammar/vector_functions.c
  src/grammar/vector_functions.h
  src/python/code/gnoll/parser.py
  src/python/setup.cfg
  src/swig/GNOLL.i
  tests/python/systems/Troika/test_troika.py
  tests/python/test_explosions.py
  tests/python/test_macros.py
  tests/python/util.py
Labels: Python, JavaScript, core, macros

#337 Added dice macro
  builtins/Rummikub.dice
Labels: macros

#350 Refactoring: Un-hardcode makefile, Improve structure, auto-include new targets
  Makefile
  src/grammar/dice.lex
  src/grammar/dice.yacc
  src/grammar/external/pcg_basic.c
  src/grammar/external/pcg_basic.h
  src/grammar/external/uthash.h
  src/grammar/operations/condition_checking.c
  src/grammar/operations/condition_checking.h
  src/grammar/operations/macro_logic.c
  src/grammar/operations/macro_logic.h
  src/grammar/rolls/dice_logic.c
  src/grammar/rolls/dice_logic.h
  src/grammar/rolls/sided_dice.c
  src/grammar/rolls/sided_dice.h
  src/grammar/shared_header.h
  src/grammar/util/safe_functions.c
  src/grammar/util/safe_functions.h
  src/grammar/util/vector_functions.c
  src/grammar/util/vector_functions.h
Labels: core

#191 set Functions
  GNOLL.ini
  README.md
  doc/gh-pages/notation/functions.md
  src/grammar/dice.lex
  src/grammar/dice.yacc
  src/grammar/util/safe_functions.c
  src/grammar/util/vector_functions.c
  src/grammar/util/vector_functions.h
  src/julia/GNOLL/Project.toml
  src/julia/GNOLL/README.md
  src/python/README.md
  src/python/setup.cfg
  tests/python/test_functions.py
Labels: Feature Request, planned, Python, core

#357 Selecting Google Code Style for C/C++
  .clang-format
  .github/CONTRIBUTING.md
  .github/linters/.clang_format
  src/grammar/external/pcg_basic.c
  src/grammar/external/pcg_basic.h
  src/grammar/external/uthash.h
  src/grammar/operations/condition_checking.c
  src/grammar/operations/condition_checking.h
  src/grammar/operations/macro_logic.c
  src/grammar/operations/macro_logic.h
  src/grammar/rolls/dice_enums.h
  src/grammar/rolls/dice_logic.c
  src/grammar/rolls/dice_logic.h
  src/grammar/rolls/dice_roll_structs.h
  src/grammar/rolls/sided_dice.c
  src/grammar/rolls/sided_dice.h
  src/grammar/rolls/vec.h
  src/grammar/shared_header.h
  src/grammar/util/safe_functions.c
  src/grammar/util/safe_functions.h
  src/grammar/util/vector_functions.c
  src/grammar/util/vector_functions.h
  src/grammar/yacc_header.h
Labels: core

#358 [WIP] Advanced conditions for filters and rerolls
  doc/gh-pages/notation/filters.md
  src/grammar/dice.lex
  src/grammar/dice.yacc
  src/grammar/operations/condition_checking.c
  src/grammar/operations/condition_checking.h
  src/grammar/util/vector_functions.c
  tests/python/test_filtering.py
Labels: core

#353 Olivia c
  doc/gh-pages/etc/supported_rpgs.md
Labels: hacktoberfest-accepted
