Repository ianfhunter/GNOLL, pull requests merged in 2024-03, with the labels that each got.

#464 JavaScript code should print out result, not write to file.
  .github/workflows/test_language_bindings.yml
  src/grammar/dice.yacc
  src/js/README.md
  src/js/target.mk
Labels: bug, JavaScript, core

#470 Fix for 465
  Makefile
  src/grammar/dice.yacc
  src/grammar/util/vector_functions.c
  src/grammar/util/vector_functions.h
  tests/python/test_dropkeeping.py
Labels: core

#474 Style Fixes
  src/js/README.md
Labels: JavaScript

#468 Browser JavaScript Support
  src/grammar/dice.yacc
  src/js/gnoll.js
  src/js/index.html
  src/js/package.json
  src/js/preface.js
  src/js/target.mk
  src/js/webpack.config.js
Labels: JavaScript, core

#475 Update README.md for browser js
  src/js/README.md
Labels: JavaScript

#477 Vec - use a union
  src/grammar/constructs/vec.h
  src/grammar/dice.lex
  src/grammar/dice.yacc
  src/grammar/operations/conditionals.c
  src/grammar/operations/macros.c
  src/grammar/rolls/dice_frontend.c
  src/grammar/util/safe_functions.c
  src/grammar/util/vector_functions.c
Labels: core

#478 Fix webapp + publish on ghpages
  .github/workflows/publish_docs.yml
  .github/workflows/test_language_bindings.yml
  .github/workflows/test_selenium.yml
  src/js/target.mk
  tests/selenium/scraper.py
Labels: JavaScript
